@using MyWineStore.Models
@model CustomerModel
@{
    ViewBag.Title = "Customer";
    List<SelectListItem>
months = new List<SelectListItem>
    ();
    for (int i = 1; i <= 12; i++)
    {
        months.Add(new SelectListItem { Text = i.ToString().PadLeft(2, '0'), Value = i.ToString() });
    }
}
}
@using (Html.BeginForm())
{

    <h1>Customer:</h1>
    // add div for each one!
    <h2>Contact Info:</h2>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
}